* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: rgb(41, 41, 38);
    color: white;
    font-size: 23px;
    height: 19vh;
    text-align: right;
    font-family: Georgia, serif;
    background-image: url(image5.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 5px;

}

li {
    display: inline-block;
    margin: 25px 20px;
    padding: 7px;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: rgb(185, 85, 4);
    height: 100vh;
}


.box1 {
    height: 100vh;
    width: 45vw;
    background-color: rgb(185, 85, 4);
    background-image: url(image5.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 10px 10px;

}

.box2 {
    display: grid;
    align-items: up;
    justify-items: center;
    height: 90vh;
    width: 55vw;
    background-repeat: no-repeat;
    background-image: url(college-fest1.jpg);
    background-size: cover;
}

.text {
    color: white;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

.text1 {
    margin: 30px 80px;
    color: black;
    font-style: italic;
    font-size: 50px;
    display: flex;
    align-items: baseline;
    gap: 15px;

}

.subtitle {
    font-style: italic;
    font-size: 20px;
    position: relative;
    top: -10px;

}

.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.footer-Nav {
    display: block;
    font-size: 30px;
    margin: 0px;
}

.container1 {
    height: 60vh;
    background-color: white;
    background-image: url(photo0.jpg);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position: 50px;

}

.text4 {
    margin: 30px;
    padding: 15px;
    position: relative;
    color: black;
    font-size: 15px;

}

.text5 {
    font-family: system-ui;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 500px;
    margin-top: -60px;

}


.container2 {
    background-color: rgb(239, 238, 244);
    height: 80vh;
    overflow: hidden;
    position: relative;


}

.background {
    position: absolute;
    background-size: cover;
    filter: brightness(115%) contrast(60%) blur(1px);
}


.overlay {
    width: 90vh;
    height: 50vh;
    position: absolute;
    top: 150px;
    left: 20px;

}

.text2 {
    margin: 30px;
    padding: 20px;
    position: relative;
    color: white;
    top: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 10px rgba(240, 228, 228, 0.7);
}

.text3 {
    margin: 30px 100px;
    position: relative;
    color: rgb(11, 1, 1);
    top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 300px;

}

.container3 {
    height: 200vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;

}

.text6 {
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 20px;
    display: flex;
    top: 80px;
    left: 50px;
}

.background1,
.background2 {
    display: block;
    z-index: 0;
}

.background1 {
    height: 100vh;
    width: 100%;
    /* filter: brightness(115%) contrast(40%) blur(1px); */
    opacity: 0.6;
}

.background2 {
    height: 100vh;
    width: 100%;
    opacity: 0.6;
}

.b1 {
    position: absolute;
    top: 200px;
    left: 50px;
    height: 750px;
    width: 250px;
    background-color: white;
    box-shadow: 0px 6px 7px;

}

.b1 p,
.b2 p,
.b3 p,
.b4 p {
    margin: 8px;
    font-size: 18px;
    text-align: center;
    font-family: system-ui;
}

.b2 {
    position: absolute;
    top: 200px;
    left: 350px;
    height: 670px;
    width: 250px;
    background-color: white;
    box-shadow: 0px 6px 7px;


}

.b3 {
    position: absolute;
    top: 200px;
    left: 650px;
    height: 720px;
    width: 250px;
    background-color: white;
    box-shadow: 0px 6px 7px;


}

.b4 {
    position: absolute;
    top: 200px;
    left: 950px;
    height: 750px;
    width: 250px;
    background-color: white;
    box-shadow: 0px 6px 7px;
}

.b1 img,
.b2 img,
.b3 img,
.b4 img {
    height: 40vh;
    width: 100%;
}

.cont1 {
    height: 9vh;
}

.cont2 {
    height: 10vh;
    background-color: rgb(49, 49, 55);
}

.cont3 {
    height: 8vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}