* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: rgb(215, 51, 51);
    color: white;
    font-size: 12px;
    height: 45px;
    text-align: right;
    font-family: system-ui;

}

li {
    display: inline-block;
    margin: 5px 4px;
    padding: 12px;
}

.text {
    height: 100px;
    text-align: right;
    background-color: white;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 50px;

}

select {

    border: none;
    margin: 25px 22px;
    padding: 2px;
    font: small-caps bold 17px/1 system-ui;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 77vh;

}

.box1 {
    height: 77vh;
    width: 35vw;
    background-image: url(pin1.jpg);
}

.box2 {
    height: 77vh;
    width: 35vw;
    background-image: url(girl3.jpg);
}

.box3 {
    height: 77vh;
    width: 30vw;
    background-image: url(girl.webp);
}

.container2 {
    height: max-content;
    background-color: white;
}

.text1 {
    min-height: 3vh;
    width: 100%;
    padding: 40px 10px;
    color: rgb(46, 6, 21);
    text-align: center;
    font-size: 30px;
    font: small-caps bold 30px/1, sans-serif;
    box-sizing: border-box
}



img {
    height: 60vh;
    width: 100%;
}

.text2 {
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-family: system-ui;

}

.text3 {
    padding: 30px;
    text-align: center;
    font-family: system-ui;
    font-size: 35px;

}

.container3 {
    height: 60vh;
    background-color: antiquewhite;


}

.text4 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}


h1 {
    display: inline;
    padding: 15px 30px;
    color: red;
    font-family: system-ui;
    font-size: 25px;

}



ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}



.footer-Nav {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
}

.footer-Nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: system-ui;
}

.text4 {
    display: flex;
    justify-content: space-around;
}